[submodule "native/third-party/glfw"]
	path = native/third-party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "native/native/third-party/dawn"]
	path = native/native/third-party/dawn
	url = https://dawn.googlesource.com/dawn.git
	branch = chromium/6216
